@import './../../assets/styles/_variables.scss';

.products {
  background-color: $bg-gray;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: $pd-y 0;

  .products__list {
    padding: 30px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 1406px) {
  .products {
    .products__list {
      justify-content: space-around;
    }
  }
}

@media (max-width: 540px) {
  .products {
    .products__list {
      padding: 15px;
    }
  }
}