@import './../../../assets/styles/_variables.scss';

.products__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 2rem;
}

.more__link {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1500px) {
  .products__list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 1120px) {
  .products__list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 768px) {
  .products__list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
