@import './../../../assets/styles/_variables.scss';

.products {
  background-color: $bg-gray;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: $pd-y 0;

  .products__list {
    
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 2rem;
  }
}

@media (max-width: 1500px) {
  .products {
    .products__list {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}

@media (max-width: 1120px) {
  .products {
    .products__list {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

@media (max-width: 768px) {
  .products {
    .products__list {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}

