@import './../../../assets/styles/_variables.scss';

.product {
  background-color: $color-white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  .product__image {
    object-fit: cover;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    
    img {
      width: 100%;
      height: 200px;
    }
  }

  .product__info {
    padding: $pd-xy;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    .name {
      font-family: $font-b;
      color: $color-black;
      margin-bottom: 15px;
    }

    .price {
      color: $color-blue;
      font-size: 22px;
      font-weight: bold;
    }
  }
  &:hover {
    box-shadow: $box-shadow-h;
  }
}
