@import './../../../../assets/styles/_variables.scss';

.blue__btn {
  height: 4rem;
  line-height: 4rem;
  padding: 0 1.5rem;
  border-radius: 1.5rem;
  background-color: #0083F1;
  color: var(--color-white);
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 0.25rem 1rem rgb(0 131 241 / 50%);
  display: inline-block;
  text-align: center;
  border: none;
  cursor: pointer;
  position: relative;
  transition: background-color .2s, color .2s, box-shadow .2s;
  width: 100%;
  color: $color-white;

  &:hover {
    background-color: $color-contrast-hight;
  }
}