.header {
  z-index: 10000;
  transition: background-color .2s;
  left: 0;
  width: 100%;
  background: #ffff;
  position: sticky;
  top: 0;
  .wrapper {
    padding: 20px 15px;
    .logo__wrapper {
      img {
        width: 60px;
        height: 60px;
      }
    }
  }
}


