@import './../../assets/styles/_variables.scss';

.wrapper {
  background-color: $color-contrast-hight;
  color: $color-white;
  flex: $flex;

  .search {
    display: flex;
    justify-content: center;
    padding: $pd-y 0;

    .search__column {
      width: 700px;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
  }
}