@import '../../assets/styles/_variables.scss';

.wrapper {
  .wrapper__filters {
    margin: -1rem -1rem 3rem -1rem;
    padding: 1rem;
    transition: 0.4s opacity 0.2s;
    .filter__row {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
      border: 1px solid $color-light-gray;
      border-radius: 2rem;
      .filter__column {
        border-bottom: none;
        border-right: 1px solid $color-light-gray;
        width: 100%;
        padding: 1rem;
        &:last-child {
          border-right: none;
        }
      }
    }

    @media only screen and (min-width: 1024px) {
      .filter__row {
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }
}
