@import '../../../assets/styles/_variables.scss';

.product {
  display: flex;
  .buy__card {
    display: flex;
    flex-wrap: wrap;
    .image__card {
      max-width: 60%;
      padding-right: 20px;

      img {
        max-width: 100%;
      }
    }

    .info__wrapper {
      .product__name {
        display: flex;
        align-items: flex-start;
      }
    }
  }
  .bottom__card {
    padding-top: $pd-y;
    max-width: 60%;
  }
}

@media (max-width: 1024px) {
  .product {
    .buy__card {
      .image__card {
        max-width: 100%;
        padding-right: 0;
      }
    }
    .bottom__card {
      max-width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .product {
    .buy__card {
      .info__wrapper {
        .product__name {
          flex-direction: column-reverse;
          flex-wrap: wrap;
          span {
            margin: 20px 0 0 0;
          }
        }
      }
    }
  }
}