@import '../../../assets/styles/_variables.scss';

.product {
  display: flex;
  .buy__card {
    display: flex;
    flex-wrap: wrap;
    .image__card {
      max-width: 60%;
      padding-right: 20px;

      img {
        max-width: 100%;
      }
    }

    .info__wrapper {
    }
  }
  .bottom__card {
    padding-top: $pd-y;
    max-width: 60%;
  }
}

@media (max-width: 1024px) {
  .product {
    .buy__card {
      .image__card {
        max-width: 100%;
        padding-right: 0;
      }
    }
    .bottom__card {
      max-width: 100%;
    }
  }
}
