$flex: 1 1 auto;
$bg-green: #24b358;
$bg-bright-green: #68cc45;
$bg-gray: hsla(210,2%,90%, 1 );
$color-white: #FFF;
$color-black: #000;
$color-blue: #0083f1;
$color-light-gray: #BFBFBF;
$color-gray: hsla(210,2%,40%, 1 );
$color-contrast-hight: #323639;
$box-shadow-h: 4px 4px 18px 0px rgba(34, 60, 80, 0.2);
$max-width: 132rem;
$font-b: 'Nunito-Bold';
$font-regular: 'Nunito-Regular', sans-serif;
$pd-x: 3em;
$pd-y: (2 * 1.25em);
$pd-xy: (0.75 * 1.25em);
$pd-x-m: 1.25em;
$pd-y-m: 1em;

