$bg-green: #24b358;
$bg-bright-green: #68cc45;
$bg-gray: hsla(210,2%,90%, 1 );
$color-white: #FFF;
$color-black: #000;
$color-blue: #0083f1;
$box-shadow-h: 4px 4px 18px 0px rgba(34, 60, 80, 0.2);
$max-width: 120rem;
$font-b: 'Nunito-Bold';
$pd-x: (1.25 * 1.25em);
$pd-y: (2 * 1.25em);
$pd-xy: (0.75 * 1.25em);
$pd-x-m: 1.25em;