@import './_variables.scss';
@import './normalize.scss';

@font-face {
  font-family: 'Nunito-Regular';
  src: url('../../assets/fonts/nunito/Nunito-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Nunito-Bold';
  src: url('../../assets/fonts/nunito/Nunito-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito-Regular', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
  transition: all 0.5s;
  color: $color-black;

  &:hover {
    color: $color-gray;
  }
}

.container {
  padding: $pd-y $pd-x;
  max-width: $max-width;
  margin: auto;
}

@media (max-width: 1020px) {
  .container {
    padding: 0 $pd-x-m;
  }
}

li {
  list-style-type: none;
}

button {
  background: $bg-green;
  color: $color-white;
  border: none;
  padding: $pd-xy;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s;
  &:active, &:hover {
    transform: scale(1.05);
  }
  &[disabled] {
    cursor: auto;
  }
}

.addToBasket {
  padding: 0 12px 0 0;
}

