@import './_variables.scss';
@import './normalize.scss';

@font-face {
  font-family: 'Nunito-Regular';
  src: url('../../assets/fonts/nunito/Nunito-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Nunito-Bold';
  src: url('../../assets/fonts/nunito/Nunito-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-regular;
  font-size: 1.2rem;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  transition: all 0.5s;
  color: $color-black;

  &:hover {
    color: $color-gray;
  }
}

footer {
  background-color: $color-contrast-hight;
  color: $color-white;
  margin-top: auto;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 24px;
    background-color: $color-white;
    border-radius: 0 0 20px 20px;
    border-top: 1px solid $bg-gray;
  }
}

.container {
  padding: $pd-y $pd-x;
  max-width: $max-width;
}


@media (max-width: 1024px) {
  .container {
    padding: $pd-y-m $pd-x-m;
  }
}

li {
  list-style-type: none;
}

button {
  background: $bg-green;
  color: $color-white;
  border: none;
  padding: $pd-xy;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s;
  &:active, &:hover {
    transform: scale(1.05);
  }
  &[disabled] {
    cursor: auto;
  }
}

.addToBasket {
  padding: 0 12px 0 0;
}


