@import './_variables.scss';
@import './normalize.scss';

@font-face {
  font-family: 'Nunito-Regular';
  src: url('../../assets/fonts/nunito/Nunito-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Nunito-Bold';
  src: url('../../assets/fonts/nunito/Nunito-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $font-regular;
  font-size: 1.2rem;
  line-height: 1.5;
  
  display: flex;
  flex-direction: column;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  transition: all 0.5s;
  color: $color-black;

  &:hover {
    color: $color-gray;
  }
}

footer {
  background-color: $color-contrast-hight;
  color: $color-white;
  margin-top: auto;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 24px;
    background-color: $color-white;
    border-radius: 0 0 20px 20px;
    border-top: 1px solid $bg-gray;
  }
}

.container {
  padding: $pd-y $pd-x;
  max-width: $max-width;
  min-height: 100%;
}

@media (max-width: 1024px) {
  .container {
    padding: $pd-y-m $pd-x-m;
  }
}

li {
  list-style-type: none;
}

.addToBasket {
  padding: 0 12px 0 0;
}

.filterBtn {
  margin: 0 0.25rem 0.25rem 0;
  padding: 0.25rem 0.5rem;
  font-size: 14px;
  display: inline-block;
  border-radius: 0.25rem;
  border: none;
  background-color: $color-white;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 16px;

  &:hover {
    color: $color-light-gray;
  }
}
