@import './../../../assets/styles/variables';

.nav {
  display: flex;
  .nav__list {
    overflow: auto;
  }
  .burgerMenuIsOpen {
    z-index: 3;
  }

  @media (min-width: 768px) {
    .burgerButton {
      display: none;
    }
    .nav__list {
      display: flex;
    }
  }

  @media (max-width: 767px) {
    .nav__list {
      flex-flow: column nowrap;
      background-color: $bg-gray;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      padding: 3.5rem;
      transition: transform .7s ease-in-out;
      z-index: 2;
    }

    .closeListBurger {
      transform: translateX(100%);
    }
  
    .openListBurger {
      transform: translateX(0);
    }
  
  }
}

.menuIsOpen {
  .nav__list {
    display: flex;
  }
}